services:
  theta-terminal-v2:
    container_name: theta-terminal-v2
    build:
      context: .
      dockerfile: Dockerfile
    image: theta-terminal:v2
    env_file:
      - .env
    ports:
      - "25500:25500"
    restart: unless-stopped
